*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

nav {
  background: lightblue;
  margin-top: -1rem;
  padding: 1rem;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
